body{
    background-color: black;
}

h1,h2,h3,h4,h5,h6{
	color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
<<<<<<< HEAD
    width: 544px;
    background-color: #424242;
=======
<<<<<<< HEAD
    background-color: #1e90ff;
=======
    background-color: #1E90FF;
>>>>>>> 46496f53b4459b0b4f44ebc31c91a18d0cdef8b4
}
.botao{
     list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 80px;
    height: 60px;
    background-color: #1E90FF;

>>>>>>> da85d3ff7ac75e67f54e5420ddaab90b42d97a43
}

li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

li a:hover {
    background-color: #01A9DB;
}