body{
    background-color: black;
<<<<<<< HEAD
}
#wrapper{
    overflow: auto;
}
#leftsidebar{
    float: none;
    width: auto;

}
#menulist{
    margin: 0;
    padding: 0;

}
=======
>>>>>>> 9ed4a2958538d987d54b631cd5a0ef40cb14adf8
