body{
    background-color: black;
}


h1, h2, h3, h4, h5, h6, dd{
	color: white;
}
ul,dt {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 544px;
    background-color: #424242;

}
.botao{
     list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 80px;
    height: 60px;
    background-color: #1E90FF;
}

li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

li a:hover {
    background-color: #01A9DB;
}


.it2 {
    color: rgb(53, 53, 231);}

.it1 img{
    width: 300px; 
    height: 400px;
   }
.video1{
    width: 600px; 
}


.botao1 {    font-family: verdana, arial, sans-serif; 
    font-size: 20pt; 
    font-weight: bold; 
    padding: 4px; 
    background-color: blue; 
    color: white; 
    text-decoration: none; 
 } 

 .botao1:hover { 
     border-bottom: 2px solid white; 
    border-top: 3px solid rgb(11, 11, 94); 
    border-right: 2px solid white; 
    border-left: 3px solid rgb(11, 11, 94); 
 } 
.espaco{
    padding: 200px;
}
.img1{
	max-width:100%;
	height:auto;
}

.texto{
    position: absolute;
    margin-top: 80px;
}
.text{
    text-align: auto;
}