<?xml version="1.0"?>
<configuration>
  <system.web> 
    <compilation batch="false" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="index.html" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="myapp">
          <match url="https://lms-01.azurewebsites.net" />
          <action type="Rewrite" url="https://lms-01.azurewebsites.net" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>