<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton|Audiowide|Fjalla+One|Monoton" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
	<link rel="shortcut icon" href="midia/favicon.ico"/>
	<title>BD DETALHE</title>
	
</head>
<body>
     <a href="index.html" target=""><img src="../static/midia/faculdade-impacta.png" style="float:left;" width="20%" height="20%"><br><br><br><br><br><br></a>

    <div>   
        <center><h1 id='letrapadrao'>Banco de Dados</h1></center>
        <center><h3 id='letrapadrao'></h3><br><br></center>
        <center><button id='letrapadrao' style="width: 200px; height: 50px">INSCREVA-SE</button></center>
    </div>
    <br> <br>
    <fieldset id="fieldset1">
    <h1 id="letrapadrao">Sobre o curso</h1>
        <h2 id="textopadrao"><th><p>O curso de Banco de Dados prepara o aluno para ser um profissional versátil e com habilidades para atuar com diversas plataformas e estruturas de desenvolvimento e administração de sistemas de Banco de Dados, com acesso a todo o repertório técnico e teórico da área.</p>
        <p>A graduação mostra a importância da segurança de compartilhamento de dados nas empresas modernas e ensina as melhores técnicas e ferramentas de criação e implementação da mesma.</p>
        <p>Na Impacta, você será preparado para o cenário real de gestão e liderança empresarial, garantindo a capacidade de comunicação e criatividade para solucionar problemas, atingir os melhores resultados, aumentar a produtividade e reduzir custos.</p>
        </th></h2>
    
</fieldset>
<br><br>
<fieldset id="fieldset1">
    <h1 id="letrapadrao">Bacharelado</h1>
    <p id="letrapadrao">Período Matutino | 08h00 às 11h40 |</p>
    <p id="letrapadrao">Período Noturno: | 19h00 às 22h40 |</p>


</fieldset>


	<ul class="botao">
  	<li><a href="index.html" target="">voltar a Home</a></li>
  	</ul>
</body>
</html>