<!DOCTYPE html>
<html>
    <head>
            <meta charset="utf-8">
            <title>Contato</title>
            <link rel="shortcut icon" href="../static/midia/favicon.ico"/>
            <link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
            <script language="javascript" src="main.js"></script> 

    </head>
    <body>
        <img src="../static/midia/faculdade-impacta.png" width="30%" height="30%">
        
        <ul>
                <li><a href="index.html" target=""><h3>Home</h3></a></li>
                <li><a href="listadecurso.html" target=""><h3>Lista de cursos</h3></a></li>
                <li><a href="noticia.html" target=""><h3>noticia</h3></a></li>
                <li><a href="disciplina.html" target=""><h3>Disciplina</h3></a></li>
                <li><a href="detalhe_curso.html" target=""><h3>Detalhe de curso</h3></a></li>
                
        </ul>

        <div class="img2">
                <img src="../static/midia/contato2.jpeg" width="100%"/>  
        <div class="hb"> 

        
        <h1 id="contato">Contato</h1>            
        </div>
        </div>
        <div class="img3">
                <img src="../static/midia/logo-center.png" width="3%"/> 
        </div>

        <fieldset id="fieldset1">
            <form>
            <label>Nome: </label>
            <!--<fieldset class="fieldset2">
            </fieldset>-->
            <input type="text" name="nome"> <br><br>

            <label>E-mail: </label>
            <input type="email" name="email"> <br> <br>

            <label>Telefone: </label>
            <input type="tel" name="telefone"> <br> <br>

            <label>Selecione um assunto: </label>
            <select>
                    <option>Selecione</option>
                    <option>Atendimento ao cliente</option>
                    <option>Secretaria de Graduação</option>
                    <option>Secretaria de Pós Graduação</option>
                    <option>Financeiro</option>
                    <option>Ouvidoria</option>
                    <option>Outros</option>
            </select> <br> <br>

            <label>Mensagem: </label> <br>
            <textarea rows="4" cols="50" id="textarea"></textarea> <br> <br>

            <button type="button" onclick="alert('Dados Enviados! ;)')" id="botao">Enviar</button>


        </form>
        </fieldset>

           <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <ul class="botao">
            <li><a href="index.html">Voltar a Home</a></li>
        </ul>
    </body>
</html>