<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
	<link rel="shortcut icon" href="midia/favicon.ico"/>
	
	<title>Detalhe de Curso</title>
	<h1>Detalhe de Curso</h1>
</head>
<body>
	<img src="midia/faculdade-impacta.png" width="30%" height="30%">
	<br><br>
	<div class="text">
    <img src="midia/Administração.png">
    <h3>Administração</h3>
    <small>Inteligência de Negócios e Gestão de Projetos</small>
    </div>
    <div class="text">
    <img src="midia/Engenharia-da-Computação.png">
    <h3>Engenharia da Computação</h3>
    <small>Internet das Coisas, Automação, Inteligência Artificial</small>
    </div>
    <div class="text">
    <img src="midia/Banco-de-Dados.png">
    <h3>Banco de Dados</h3>
    <small>Data Analytics & Big Data</small>
    </div>

	
	<ul class="botao">
  	<li><a href="index.html" target="">voltar a Home</a></li>
  	</ul>
</body>
</html>