<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Disciplina</title>
        <link rel="shortcut icon" href="midia/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="css/estilos.css">
    

    </head>
    <body>
        <img src="midia/faculdade-impacta.png" width="30%" height="30%">
        <h4>Disciplinas</h4>
        <br> 
        <ul>
        <h3>Análise e Desenvolvimento de Sistemas</h3>
        <dd>1º Semestre</dd>
        <dd>2º Semestre</dd>
        <dd>3º Semestre</dd>
        <dd>4º Semestre</dd> <br>
        <h3>Sistemas de Informação</h3>
        <dd>1º Semestre</dd>
        <dd>2º Semestre</dd>
        <dd>3º Semestre</dd>
        <dd>4º Semestre</dd>
        <dd>5º Semestre</dd>
        <dd>6º Semestre</dd>
        <dd>7º Semestre</dd>
        <dd>8º Semestre</dd>
    </ul>
        <ul class="botao">
        <li><a href="index.html">Voltar a Home</a></li>
        </ul>


    </body>
</html>