<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Disciplina</title>
        <link rel="shortcut icon" href="midia/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="css/estilos.css">
        <script language="javascript" src="main.js"></script> 
    

    </head>
    <body>
        <img src="midia/faculdade-impacta.png" width="30%" height="30%">
        <h4>Disciplinas</h4>
        <br> 
        <div id="primeirodiv">
            <h2>Análise e Desenvolvimento de Sistemas</h2>
            <div id="primeirodiv1">
                <table class="tabela1">
                    <tr>
                      1º Semestre
                      <td>Comunicação e Expressão (EAD): 80 Horas</td>
                    </tr>
                    <tr>
                        <td>Fundamentos de Banco de Dados: 80 Horas</td> 
                    </tr>
                    <tr>
                        <td>Introdução a Internet das Coisas - IOT: 80 horas</td> 
                    </tr>
                    <tr>
                        <td>Linguaguem de Programação I: 80 horas</td> 
                    </tr>
                    <tr>
                        <td>Lógica de Programação: 80 horas</td> 
                    </tr>
                    <tr>
                        <td>Matemática Aplicada: 80 horas</td> 
                    </tr>
                    <tr>
                        <td>Subtotal: 480 horas</td> 
                    </tr>
                    



                </table>
            </div>
        </div>



<!--
        <ul>
        <h3>Análise e Desenvolvimento de Sistemas</h3>
        <dt>1º Semestre</dt>
            <dd>oi</dd>
        <dd>2º Semestre</dd>
        <dd>3º Semestre</dd>
        <dd>4º Semestre</dd> <br>
        <h3>Sistemas de Informação</h3>
        <dd>1º Semestre</dd>
        <dd>2º Semestre</dd>
        <dd>3º Semestre</dd>
        <dd>4º Semestre</dd>
        <dd>5º Semestre</dd>
        <dd>6º Semestre</dd>
        <dd>7º Semestre</dd>
        <dd>8º Semestre</dd>
        </ul>-->


        <ul class="botao">
        <li><a href="index.html">Voltar a Home</a></li>
        </ul>


    </body>
</html>