<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton|Audiowide|Fjalla+One|Monoton" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
	<link rel="shortcut icon" href="midia/favicon.ico"/>
	<title>ENGENHARIA</title>
	
</head>
<body>
     <a href="index.html" target=""><img src="../static/midia/faculdade-impacta.png" style="float:left;" width="20%" height="20%"><br><br><br><br><br><br></a>

    <div>   
        <center><h1 id='letrapadrao'>Engenharia da Computação</h1></center>
        <center><h3 id='letrapadrao'></h3><br><br></center>
        <center><button id='letrapadrao' style="width: 200px; height: 50px">INSCREVA-SE</button></center>
    </div>
    <br> <br>
    <fieldset id="fieldset1">
    <h1 id="letrapadrao">Sobre o curso</h1>
        <h2 id="textopadrao"><th><p>A graduação em Engenharia da Computação busca formar profissionais para atuar em processos de automação, integrando aspectos relacionados ao desenvolvimento e gerência de projetos de hardware e software. Tais aspectos envolvem sistemas embarcados, sistemas de tempo real, sistemas integrados de hardware e software, sistemas distribuídos, redes de computadores, robótica e Internet das Coisas.</p>
        <p>O curso possui uma linha de formação com ênfase em IoT e Indústria 4.0, temas atuais e de interesse mundial -  todos os setores da economia serão impactados por estas transformação digital nos próximos anos.</p>
        <p>Desta forma, o aluno será capacitado para desenvolver sistemas para Internet das Coisas e Indústria 4.0 a partir de sólidos conhecimentos de programação, redes de comunicação, hardware e eletrônica, que são foco de várias disciplinas da grade. Além disso, temas como Inovação, Empreendedorismo, Gestão e Economia também farão parte da formação do nosso engenheiro.</p>
        </th></h2>
    
</fieldset>
<br><br>
<fieldset id="fieldset1">
    <h1 id="letrapadrao">Bacharelado</h1>
    <p id="letrapadrao">Período Matutino | 08h00 às 11h40 |</p>
    <p id="letrapadrao">Período Noturno: | 19h00 às 22h40 |</p>


</fieldset>


	<ul class="botao">
  	<li><a href="index.html" target="">voltar a Home</a></li>
  	</ul>
</body>
</html>