<!DOCTYPE html>
<html>
    <head>
        <title>Faculdade impacta</title>
        <link rel="stylesheet" type="text/css" href='../static/css/estiloindex.css'>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="../static/midia/favicon.ico">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    </head>
    <body>
        <a href="index.html" target=""><img src="../static/midia/faculdade-impacta.png" style="float:left;" width="20%" height="20%"></a>  
        <nav id="menu">
            <ul>
                <li><a href="index.html" target=""><h3>Home</h3></a></li>
                <li><a href="listadecurso.html" target=""><h3>Lista de cursos</h3></a></li>
                <li><a href="noticia.html" target=""><h3>Noticia</h3></a></li>
                <li><a href="disciplina.html" target=""><h3>Disciplina</h3></a></li>
                <li><a href="detalhe_curso.html" target=""><h3>Detalhe de curso</h3></a></li>
                <li><a href="contato.html" target=""><h3>Contato</h3></a></li>
                <li><a href="login.html" target=""><h3>Área do Aluno</h3></a></li>
            </ul>
        </nav>
            <header>
                    <img class="img1" src="../static/midia/banner-informatica.jpg" style="float:left;">    
            </header>
                <main class="espaco">
                    <div>
                        <h1 class="it2" align='center'>CONHEÇA NOSSOS CURSOS</h1>
                    </div>    
                    <div>
                        <p><h3>Considerada uma das melhores faculdades com foco em tecnologia do País, a Faculdade Impacta oferece cursos de Graduação, Pós-Graduação e MBA e cursos técnicos. Conheça quais são as áreas de conhecimento que a Impacta aborda e saiba um pouco mais sobre cada curso:</h3></p>
                    </div>
                    <table style="margin:auto;">
                        <tr>
                            <td><div class="it1"><img src="../static/midia/img1.jpg" style="width:714; float:left;"></div></td>
                            <td><div class="it1"><img src="../static/midia/img2.jpg" style="width:714; float:left;"></div></td>
                            <td><div class="it1"><img src="../static/midia/img3.jpg" style="width:714; float:left;"></div></td>
                        </tr>
                    </table>
                    <div align="center">
                        <a href="#" class="botao1">VESTIBULAR 2019</a> 
                    </div>    
    </body>
</html>