<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton|Audiowide|Fjalla+One|Monoton" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
	<link rel="shortcut icon" href="midia/favicon.ico"/>
	<title>Detalhe de Curso</title>
	
</head>
<body>
     <a href="index.html" target=""><img src="../static/midia/faculdade-impacta.png" style="float:left;" width="20%" height="20%"><br><br><br><br><br><br></a>

    <div>   
        <center><h1 id='letrapadrao'>Jogos Digitais</h1></center>
        <center><h3 id='letrapadrao'>Design de Games e Game Programming</h3><br><br></center>
        <center><button id='letrapadrao' style="width: 200px; height: 50px">INSCREVA-SE</button></center>
    </div>
    <br> <br>
    <fieldset id="fieldset1">
    <h1 id="letrapadrao">Sobre o curso</h1>
        <h2 id="textopadrao"><th><p>A graduação de Jogos Digitais aborda as ferramentas práticas e teóricas para o aluno projetar, implementar e testar jogos. Com a criação de personagens, ambientes, objetos, interfaces e regras, é possível aprender sobre tudo o que é necessário para criar um jogo. Além disso, o profissional também pode aplicar técnicas de programação, áudio e elementos em 2D e 3D.</p>
        <p>Com conhecimento interdisciplinar, o aluno terá contato com todas as fases do projeto: desde o design, arte visual, áudio e programação até a gestão de projetos e negócios.</p>
        <p>O aluno ainda estará preparado para desenvolver games em diversos ambientes e áreas - não apenas para o entretenimento. Os setores da indústria e educação têm cada vez mais aderido a mecanismos, como jogos para seus setores, os chamados "serious games", que abrem um grande leque de opções para a profissão.</p>
        </th></h2>
    
</fieldset>
<br><br>
<fieldset id="fieldset1">
    <h1 id="letrapadrao">Tecnólogo</h1>
    <p id="letrapadrao">Período Matutino | 08h00 às 11h40 |</p>
    <p id="letrapadrao">Período Noturno: | 19h00 às 22h40 |</p>


</fieldset>


	<ul class="botao">
  	<li><a href="listadecurso.html" target="">Voltar a Lista de Cursos</a></li>
  	</ul>
</body>
</html>