<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8">
    <title>Lista de Cursos</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton|Audiowide|Fjalla+One|Monoton" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
    <link rel="shortcut icon" href="../static/midia/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan" rel="stylesheet">
    
</head>

<body>
    
   <table> 
    <a href="index.html" target=""><img src="../static/midia/faculdade-impacta.png" style="float:left;" width="20%" height="20%"></a><br><br><br><br><br><br><br>
     

 
    <div class="inicio_lista">
            <center><img src="../static/midia/vestibular-2019.png" width="35%" height="35%"></center>
        </div>
        <center><button id="botao4"><strong>Conheça nossos cursos</strong></button></center>
        <type='background' img src="../static//midia/vvcc.jpg" width="30%" height="30%">

    <center><h1 class="letras1">POR QUE A IMPACTA REVOLUCIONA O SEU FUTURO?</h1></center><br>
        <center><h3 id="textopadrao">'Há 30 anos no mercado, a Faculdade Impacta tem alto nível de empregabilidade nas maiores empresas do País.<br>
            Segundo pesquisa realizada pelo LinkedIn, a Instituição possui 98,2% de contratação no segundo semestre do curso.'</h3><br></center>
<h1 id='letrapadrao'>Bacharelado</h1>

    <tr> 
    <td><button id="botao5"><h3 id='letrapadrao'>Administração</button></h3></td>
    <td><button id="botao5"><h3 id='letrapadrao'>Sistemas Da Informação</button></h3></td>
    <td><button id="botao5"><h3 id='letrapadrao'>Engenharia da Computação</button></h3></td>
    </tr>
</table>

<h1 id='letrapadrao'>Tecnólogo</h1>

<table>

    <tr> 
    <td><button id="botao5"><h3 id='letrapadrao'>Análise e Desenvolvimento de Sistemas</button></h3></button></td>
    <td><button id="botao5"><h3 id='letrapadrao'>Processos Gerenciais</button></h3></td>
    <td><button id="botao5"><h3 id='letrapadrao'>Banco De Dados</button></h3></td>    
    </tr>

    <tr>       
    <td><button id="botao5"><h3 id='letrapadrao'>Jogos Digitais<</button></h3></td>
    <td><button id="botao5"><h3 id='letrapadrao'>Redes de Computadores</button></h3></td>
    <td><button id="botao5"><h3 id='letrapadrao'>Gestão</button></h3></td>    
    </tr>
    
    <tr>
    
    </tr> 
            
        </table>
       
    <div class="img3">
            <img src="../static/midia/logo-center.png" width="3%"/> 
    </div>
    <ul class="botao">
       <li><a href="index.html" target="">voltar a Home</li>
    </ul>

</table>
</body>
</html>