<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href='../static/css/estiloindex.css'>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="../static/midia/favicon.ico">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
        <script type="text/javascript" src=../static/javascript/main.js></script>

    </head>
    <body>
    <div>
        <a href="index.html" target=""><img src="../static/midia/faculdade-impacta.png" style="float:left;" width="20%" height="20%"></a>  
        <nav id="menu">
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="img3">
        <img src="../static/midia/logo-center.png" width="3%"/> 
    </div>
    <fieldset id="fieldset3">
        <form method="POST" id="formulario">
            <label>RA: </label>
            <input name="ra" title="Campo Obrigatório" autofocus="" type="text" :focus="" minlength="7"> <br><br><br>
            <label>Senha: </label>
            <input name="senha" type="password"> <br><br><br>
            <button type="button" id="botao" class="botaoapertar" mousedown="mouseDown()" mouseup="mouseUp()">Fazer Login</button>
        </form>
    </fieldset>
    
    
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <ul class="botao">
        <li><a href="index.html">Voltar a Home</a></li>
    </ul>
    </body>
</html>