<!DOCTYPE html>
<html>
    <head>
        <title>Noticias</title>
        <meta charset ="utf-8">
        <img src="C:\Users\1800401\Documents\Aluno-Danilo\Aula-DevOps\ProjetoLMS\core\static\midia\faculdade-impacta.png" style="float:left;" width="20%" height="20%">
        <link rel="stylesheet" href="C:\Users\1800401\Documents\Aluno-Danilo\Aula-DevOps\ProjetoLMS\core\static\css\estilos.css">
        <link rel="shortcut icon" href="midia/favicon.ico"/>
        
        
    </head >
    <body> 
       
        <ul>
            <li><a href="index.html" target=""><h3>Home</h3></a></li>
            <li><a href="listadecurso.html" target=""><h3>Lista de cursos</h3></a></li>
            <li><a href="noticia.html" target=""><h3>noticia</h3></a></li>
            <li><a href="disciplina.html" target=""><h3>Disciplina</h3></a></li>
            <li><a href="detalhe_curso.html" target=""><h3>Detalhe de curso</h3></a></li>
            
        </ul>
        <div class="img1">
        <img src="C:\Users\1800401\Documents\Aluno-Danilo\Aula-DevOps\ProjetoLMS\core\static\midia\banner-blog-1.png" width="100%" height="50%"/>  
        <div class="hb">
            
        <font color="white" class="fundo negrito">O seu Blog sobre </font><font color="Blue" class="fundo2 negrito "> tecnologia e carreira!</font>
        <h3>Assine e receba dicas e novidades no seu e-mail</h3>

        <input title="Nome" for="nome" placeholder="Nome"></input>
        <input title="E-mail" for="e-mail" placeholder="Qual é o seu e-mail ?"></input>

        <button type="submit">Assine agora</button>
        
        </div>
        </div>
        
        <table border="1">
            
            <tr> 
                <td><img src="C:\Users\1800401\Documents\Aluno-Danilo\Aula-DevOps\ProjetoLMS\core\static\midia\escolher-uma-faculdade.JPG" width="25%" height="20%"/></td>
                    <td>Nota do Enade: por que considerá-la para escolher uma faculdade?</td>
                    <td> Escolher uma faculdade não é uma tarefa nada fácil. Por isso, contar com um suporte extra — como a nota do ENADE (Exame Nacional de Desempenho de Estudantes)
                     — faz toda a diferença quando precisamos tomar essa decisão. Pensando nisso, decidimos reunir, neste post, tudo o que você precisa saber sobre a nota do ENADE. Dessa…</td>
                
                
            </tr>
                
            
        </table>
    
     
    </body>
</html> 