<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton|Audiowide|Fjalla+One|Monoton" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
	<link rel="shortcut icon" href="midia/favicon.ico"/>
	<title>Detalhe de Curso</title>
	
</head>
<body>
     <a href="index.html" target=""><img src="../static/midia/faculdade-impacta.png" style="float:left;" width="20%" height="20%"><br><br><br><br><br><br></a>

    <div>   
        <center><h1 id='letrapadrao'>Processos Gerenciais</h1></center>
        <center><h3 id='letrapadrao'>Inteligência de Negócios & Viabilidade Projetos</h3><br><br></center>
        <center><button id='letrapadrao' style="width: 200px; height: 50px">INSCREVA-SE</button></center>
    </div>
    <br> <br>
    <fieldset id="fieldset1">
    <h1 id="letrapadrao">Sobre o curso</h1>
        <h2 id="textopadrao"><th><p>O curso de Tecnologia em Processos Gerenciais é voltado às áreas da administração de empresas. Aqueles que concluem a graduação são considerados gestores empresariais, e estão aptos a atuar no mercado de trabalho.</p>
        <p>O perfil empreendedor é uma das características mais marcantes do curso, pois são ensinadas técnicas para abrir o próprio negócio e fazê-lo crescer através de uma gestão competente e eficaz.</p>
        <p>A graduação prepara você para conduzir o negócio de pequenas e médias empresas, liderar equipes, avaliar a concorrência e criar diferenciais competitivos dentro de uma organização. Além disso, você também irá aprender a lidar com questões comportamentais, solucionando problemas de comunicação e relacionamento.</p>
        </th></h2>
    
</fieldset>
<br><br>
<fieldset id="fieldset1">
    <h1 id="letrapadrao">Tecnólogo</h1>
    <p id="letrapadrao">Período Noturno: | 19h00 às 22h40 |</p>


</fieldset>


	<ul class="botao">
  	<li><a href="listadecurso.html" target="">Voltar a Lista de Cursos</a></li>
  	</ul>
</body>
</html>