<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton|Audiowide|Fjalla+One|Monoton" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
	<link rel="shortcut icon" href="midia/favicon.ico"/>
	<title>Detalhe de Curso</title>
	
</head>
<body>
     <a href="index.html" target=""><img src="../static/midia/faculdade-impacta.png" style="float:left;" width="20%" height="20%"><br><br><br><br><br><br></a>

    <div>   
        <center><h1 id='letrapadrao'>Redes de Computadores</h1></center>
        <center><h3 id='letrapadrao'>Cloud Computing & Cyber Security</h3><br><br></center>
        <center><button id='letrapadrao' style="width: 200px; height: 50px">INSCREVA-SE</button></center>
    </div>
    <br> <br>
    <fieldset id="fieldset1">
    <h1 id="letrapadrao">Sobre o curso</h1>
        <h2 id="textopadrao"><th><p>Cada vez mais as empresas precisam lidar com diferentes tipos de redes, como Wi-Fi, intranet, dispositivos móveis conectados, entre outros. Com o curso de Redes de Computadores, o aluno estará preparado para analisar, projetar, instalar e administrar soluções para sistemas eficientes e seguros em projetos de redes locais e de longa distância.</p>
        <p>Aprende-se a realizar controles de tráfego e implementar tecnologias de segurança para garantir o bom funcionamento dos sistemas de comunicação de dados, com competência para atuar em empresas de pequeno e grande porte.</p>
        <p>O aluno terá uma visão abrangente da área, em que vai aprender os conceitos em laboratório, desenvolver as habilidades de diagnóstico e implementar e administrar a infraestrutura e serviços de redes.</p>
        </th></h2>
    
</fieldset>
<br><br>
<fieldset id="fieldset1">
    <h1 id="letrapadrao">Tecnólogo</h1>
    <p id="letrapadrao">Período Matutino | 08h00 às 11h40 |</p>
    <p id="letrapadrao">Período Noturno: | 19h00 às 22h40 |</p>


</fieldset>


	<ul class="botao">
  	<li><a href="listadecurso.html" target="">Voltar a Lista de Cursos</a></li>
  	</ul>
</body>
</html>