<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton|Audiowide|Fjalla+One|Monoton" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
    <link rel="shortcut icon" href="midia/favicon.ico"/>
    <title>Sistemas de Informação</title>
</head>
<body>
    <a href="index.html" target=""><img src="../static/midia/faculdade-impacta.png" style="float:left;" width="20%" height="20%"><br><br><br><br><br><br></a>
    <br>
       <style type="text/css">
        .escondida {
            display:none;
        }
        </style>

        <script type="text/javascript">
        function abrir() {
            var main = document.getElementById("central");
            var iten = main.getElementsByTagName("input");
            if (iten) {
                for (var i=0;i<iten.length;i++) {
                    iten[i].onclick = function() {
                        var el = document.getElementById(this.id.substr(7,7));
                        if (el.style.display == "block")
                            el.style.display = "none";
                        else
                            el.style.display = "block";
                    }
                }
            }
        }
        window.onload=abrir;
        </script>


        <div id="central">
            <div class="bot">
            <input type="button" value="1º Semestre" style="color: white" id="receita1">
            <input type="button" value="2º Semestre" style="color: white" id="receita2">
            <input type="button" value="3º Semestre" style="color: white" id="receita3">
            <input type="button" value="4º Semestre" style="color: white" id="receita4">
            <input type="button" value="5º Semestre" style="color: white" id="receita5">
            <input type="button" value="6º Semestre" style="color: white" id="receita6">
            <input type="button" value="7º Semestre" style="color: white" id="receita7">
            <input type="button" value="8º Semestre" style="color: white" id="receita8">
            </div>
        
        <div id="1" class="escondida"><fieldset  class="bord1">
        
            <strong><div class="conteudo-semestre">
            <h2>1º Semestre</h2>
            <strong><p>Comunicação e Expressão (EAD): 80 horas
            A fluência na língua materna possibilita a plena compreensão dos textos indicados e a excelência na produção cientifica. Aplicação prática da expressividade ao falar em público, com direcionamento acadêmico e empresarial. Desenvolvimento de textos corporativos e científicos. Leitura crítica e interpretativa. Elaboração de textos, permeados pela clareza, intencionalidade, coesão e coerência. Orientação para emprego da ABNT em produções científicas.</p>

            <p>Fundamentos de Banco de Dados: 80 horas
            Introdução aos Sistemas Gerenciadores de Banco de Dados. Projeto de Banco de Dados. Projeto Conceitual de Banco de Dados: Modelo Entidade Relacionamento: UML: Uso de Diagramas de Classes da UML para representar as Abstrações de Generalização, Agregação e Composição. Projeto Lógico de Banco de Dados: Modelo Relacional; Normalização.</p>

            <p>Introdução a Internet das Coisas - IOT: 80 horas
            Introdução à computação ubíqua. Desenvolvimento de soluções IoT. Tipos de transdutores, sensores e atuadores. Componentes básicos do computador e dispositivos de Internet das coisas (Arduino). Funcionalidades dos subsistemas de memória, unidade central de processamento, barramentos e sistema de entrada/saída. Processos, sistemas de arquivos e drivers.</p>

            <p>Linguaguem de Programação I:80 horas
            Introdução e Conceitos de Programação e Linguagem de Programação. Linguagem de Programação Python. Tipos de Dados. Estruturas lógicas ou de controle de fluxo. Modularização. Métodos. Classes. Desenvolvimento de projeto IoT.</p>

            <p>Lógica de Programação: 80 horas
            Introdução à Lógica e aos Algoritmos. Tipos de Dados. Estruturas lógicas ou de controle de fluxo. Modularização. Introdução às Estruturas de Dados. Estruturas de Dados Homogêneas. Métodos de Busca (Busca Linear e Busca Binária). Métodos de Ordenação (Métodos Bolha, Inserção e Seleção).</p>

            <p>Matemática Aplicada: 80 horas
            Fundamentos: Relações, Funções e Matrizes. Lógica Formal: Proposições, representações simbólicas; Lógica proposicional; Quantificadores, Predicados e Validade; Lógica de Predicados. Conjuntos, Combinatória e Probabilidade: Teoria de Conjuntos; Contagem, Permutações e Combinações. Estatística Descritiva: Distribuição de frequência, histograma; Medidas de tendência central: Média, mediana e moda; Medidas de Dispersão: desvio padrão, variância.</p>
            
            <p>Subtotal: 480 horas</p>
            <br></strong>
        
        </fieldset></div>
            <div id="2" class="escondida"><fieldset  class="bord1">
            <h2>2º Semestre</h2>
            <strong>                   
            <p>Ambiente de Desenvolvimento e Operação -DevOps: 80 horas
            Gerenciamento e Configuração de Mudanças. Instalação e configuração de ambientes operacionais e ferramentas em máquinas virtuais, local e em nuvem: Sistema Operacional, Compilador / Interpretador, Ambientes de Testes de Unidade. Git / GitHub, Servidor de Aplicação e wikis. Utilizando os ambientes criados para a especificação e codificação da OPE.</p>

            <p>Engenharia de Software: 80 horas
            Conceitos fundamentais da Engenharia de Software. Abordagens de Análise de Software. Processos de Software. Disciplinas do curso e perfil profissional. Definição das OPEs. Checklists da Engenharia de Requisitos. Técnicas: Entrevista, Questionário, Comitê de Especialistas, Análise de Problemas, Workshop de Características, Baseline de Características e a Técnica de Reunião Formal: Walkthroughs.</p>

            <p>Gestão de Projetos: 40 horas
            Introdução à gestão tradicional de projetos. PMI. PMI. Agile Mindset. Manifesto Ágil. Gestão Ágil de Projetos (SCRUM): Gerência de time autogerenciável e os papéis. Time-boxes. Sprint. Planning meeting. Review meeting. feedback. Retrospectiva e daily scrum. Scrum Master. Práticas Scrum.</p>

            <p>Libras: 40 horas
            Aquisição de uma nova língua: Língua Brasileira de Sinais (LIBRAS).
            Oferecer o conceito de Libras, Fundamentos históricos da educação de surdos. Legislação específica. Aspectos Linguísticos da Libras. Compreender os principais aspectos da Língua Brasileira de Sinais – Libras, língua oficial da comunidade surda brasileira, contribuindo para a inclusão educacional dos alunos surdos.</p>

            <p>Linguagem SQL:80 horas
            Introdução à Linguagem SQL. Conceitos Básicos. Linguagem de Definição de Dados. Linguagem de Manipulação de Dados. Função e Procedimentos. Declaração de variável. Expressões. Instruções Básicas. Estruturas de Controle. Recursos Avançados. Gatilhos (Triggers). Índices e Métodos de busca.</p>

            <p>Linguaguem de Programação II: 80 horas
            Aplicação de listas e dicionários. Projetos de desenvolvimento de soluções. Programação orientada a objetos. Arquivos e estratégias de persistência de dados. Padrões de projeto. Testes unitários automatizados.</p>

            <p>Sociedade e Sustentabilidade: 40 horas
            Identificar o papel do administrador de empresa no século XXI, considerando a fundamentação teórica, sob uma ótica de desenvolvimento sustentável, vislumbrando Organizações em equilíbrio Econômico-financeiro e que respeitem a sociedade e o meio ambiente. Desenvolver competências, para compreender o mundo a seu redor e propor alternativas menos danosas ao meio ambiente e a sociedade, sempre com a premissa da saúde financeira da Organização, bem como, de oportunidade de negócios.</p>

            <p>Tecnologia Web:</strong> 80 horas
            Conceitos e fundamentos: Internet, Intranet e Extranet. Arquitetura Cliente-Servidor. Desenvolvimento de aplicações WEB Padrões Web. HTML (HyperText Markup Language) e CSS ( Cascading Style Sheets). Sintaxe, comandos JavaScript e integração com HTML. Noções de NodeJS. Python e Framework de Desenvolvimento. Arquitetura Model-View-Controller; a camada de acesso a banco de dados; Padrão de endereçamento http; aspetos de segurança, componentização JQuery + AJAX.</p> 
            <br>
            Subtotal: 520 horas
            </strong></fieldset></div>

            <div id="3" class="escondida"><fieldset  class="bord1">
            <h2>3º Semestre</h2>
            <strong><p>Análise e Modelagem de Sistemas: 80 horas</p>
            <p>Ciências do Ambiente: 40 horas</p>
            <p>Desenvolvimento de Aplicações Distribuídas: 80 horas</p>
            <p>Estrutura de Dados: 80 horas</p>
            <p>Engenharia de Requisitos: 80 horas</p>
            <p>Modelagem e Simulação de Sistemas Físicos: 80 horas</p>
            <br>
            <p>Subtotal: 440 horas</p> 
            </strong></fieldset></div>

            <div id="4" class="escondida"><fieldset  class="bord1">
            <h2>4º Semestre</h2>
            <strong>
            <p>Circuitos Elétricos: 80 horas</p>
            <p>Desenvolvimento para Dispositivos Móveis: 80 horas</p>
            <p>Desenvolvimento para Internet das Coisas - IoT: 80 horas</p>
            <p>Eletricidade e Magnetismo Aplicados: 80 horas</p>
            <p>Matemática Discreta: 80 horas</p>
            <p>Otimização de Sistemas Lineares: 40 horas</p>
            <br>
            <p>Subtotal: 440 horas</p> 
            </strong></fieldset></div>

            <div id="5" class="escondida"><fieldset  class="bord1">
            <h2>5º Semestre</h2>
            <strong><p>Análise Exploratória de Dados: horas</p>
             <p>Análise Numérica: 40 horas</p>
             <p>Arquitetura de Computadores e Sistemas Operacionais: 80 horas</p>
             <p>Eletrônica Analógica e Digital: 80 horas</p>
             <p>Linguagens Formais e Autômatos: 80 horas</p>
             <p>Processamento Digital de Sinais: 80 horas</p>
             <br>
             <p>Subtotal: 440 horas</p> 

            </strong></fieldset></div>
            <div id="6" class="escondida"><fieldset  class="bord1">
            <h2>6º Semestre</h2>
            <strong><p>Análise de Viabilidade de Projetos: 80 horas</p>
            <p>Compiladores: 80 horas</p>
            <p>Controle e Automação: 80 horas</p>
            <p>Gestão Ágil de Projetos: 40 horas</p>
            <p>Inteligência Artificial: 80 horas</p>
            <p>Sistemas Distribuídos e Cloud Computing: 80 horas</p>
            <br>
            <p>Subtotal: 440 horas</p> 
            </strong></fieldset></div>

            <div id="7" class="escondida"><fieldset  class="bord1">
            <h2>7º Semestre</h2>
            <strong><p>Economia para Engenharia: 40 horas</p>
            <p>Robôs Móveis Inteligentes: 80 horas</p>
            <p>Segurança Cibernética: 80 horas</p>
            <p>Startup e Inovação: 80 horas</p>
            <p>Trabalho de Conclusão de Curso 1 - TCC1: 80 horas</p>
            <p>UX e Design Thinking: 80 horas</p>
            <br>
            <p>Subtotal: 440 horas</p>
            </strong></fieldset></div>

            <div id="8" class="escondida"><fieldset  class="bord1">
            <h2>8º Semestre</h2>
            <strong><p>Indústria 4.0: 80 horas</p>
            <p>Legislação e Ética: 40 horas</p>
            <p>Projeto de Sistemas Embarcados: 80 horas</p>
            <p>Sistemas Tolerantes a Falhas: 80 horas</p>
            <p>Tópicos Especiais em Tendências Tecnológicas: 80 horas</p>
            <p>Trabalho de Conclusão de Curso 2 - TCC2: 80 horas</p>
            <br>
            <p>Subtotal: 440 horas</p>  

            </strong></fieldset></div>
            </div><br><br>
            <div class="cord2">
            <h1 id="azul"class="cord">COORDENADOR</h1><br>
            <img class="imgC" src="../static/midia/tim2.png">>
            <div class="cord1">
            <p><h1>Osvaldo Kotaro Takai</h1>
            <h3>Coordenador(a) do curso de Sistemas de Informação</h3>
            <h4>Doutorando junto ao grupo de Banco de Dados
            IME-USP / Mestre e Bacharel em Computação
            ICMC-USP / Consultor / AiiA Serviços e Soluções
            Experiência em cursos de treinamento
            Modelagem de Processos de Negócio e de Análise de Sistemas
            Atuou como ponto focal em Engenharia de Sistemas
            Atech S/A do Grupo EMBRAER / Foi analista na Secretaria da Fazenda/SP
            Análise e Especificação da Nova GIA Eletrônica
            Participou da Análise e Especificação do Projeto Cartão Nacional de Saúde
            Experiência como docente / UFScar - São Carlos, USP e UNAERP de Ribeirão Preto
            Certificação CPRE-FL / Certified Professional for Requirements Engineering Foundation Level IBQTS - Brasil
            Licensed Examination Institute do IREB® (International Requirements Engineering Board) 
            Licensed Examination Institute / ICAgile Certified Professional (ICP) Certificate</h4></p>
            </div>
            <br><br><br><br><br><br><br><br><br><br>
            </div>
            <fieldset id="mercado" >
            <h4>MERCADO DE TRABALHO</h4>
            <p>O mercado continua aquecido e está em expansão devido ao crescente acesso das pessoas à banda larga no País e fora dele. O profissional desta área pode atuar em qualquer tipo de empresa de quase todos os setores, de bancos e organizações de saúde a empresas públicas e de comércio eletrônico. Alguns cargos que a graduação pode gerar são: Analista de Sistemas, Administrador de Dados, Gerente de Sistemas e Processos de Gerente de TI. Uma das áreas mais em alta é a de Big Data, voltada ao levantamento do perfil de um público-alvo a partir de informações publicadas na internet. Outro segmento que se fortalece é o de educação a distância. A maior demanda está nos grandes centros, que concentram os maiores desenvolvedores de software.</p>
            </fieldset>

            <fieldset id="aluno1" >
            <h4>PERFIL DO ALUNO</h4>
            <p>Afinidade com Matemática e gosto por tecnologia são características importantes para o profissional de Sistemas de Informação. Isso acontece porque o desenvolvimento de programas e sistemas exige habilidades de manipulação de algoritmos matemáticos, aliados às novas tecnologias. O curso é voltado àqueles que gostam de tecnologia e têm o interesse de atuar como agente transformador na sociedade e nas empresas por meio da utilização das novas tecnologias na resolução de problemas. É desejável que se adquira conhecimentos em inglês, uma vez que grande parte da linguagem de programação está neste idioma</p>
            </fieldset>
            <br><br>
            <li><a href="index.html" target="">Página Inicial</a></li><br><br><br>
            <li><a href="listadecurso.html" target="">Voltar a Lista de Cursos</a></li>
</body>
</html>