<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton|Audiowide|Fjalla+One|Monoton" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
	<link rel="shortcut icon" href="midia/favicon.ico"/>
	<title>SISTEMAS</title>
	
</head>
<body>
     <a href="index.html" target=""><img src="../static/midia/faculdade-impacta.png" style="float:left;" width="20%" height="20%"><br><br><br><br><br><br></a>

    <div>   
        <center><h1 id='letrapadrao'>Sistemas de informação</h1></center>
        <center><h3 id='letrapadrao'></h3><br><br></center>
        <center><button id='letrapadrao' style="width: 200px; height: 50px">INSCREVA-SE</button></center>
    </div>
    <br> <br>
    <fieldset id="fieldset1">
    <h1 id="letrapadrao">Sobre o curso</h1>
        <h2 id="textopadrao"><th><p>A Graduação de Sistemas de Informação prepara o aluno para ser um profissional transformador do mercado, desenvolvendo soluções inovadoras e criativas na construção e utilização de Sistemas de Informação.</p>
        <p>O aluno aprenderá os conceitos teóricos e usos práticos da área, irá acompanhar as principais inovações tecnológicas do mercado e habilitar a sua capacidade empreendedora.</p>
        <p>O objetivo é formar profissionais capazes de atuar na área de Tecnologia da Informação, criando práticas tecnológicas para determinar o fluxo de informações com o desenvolvimento de software e no gerenciamento de sistemas informatizados. Ao final do 2.º ano, os alunos já terão o diploma de Tecnólogo em Análise e Desenvolvimento de Sistemas.</p>
        </th></h2>
    
</fieldset>
<br><br>
<fieldset id="fieldset1">
    <h1 id="letrapadrao">Bacharelado</h1>
    <p id="letrapadrao">Período Matutino | 08h00 às 11h40 |</p>
    <p id="letrapadrao">Período Noturno: | 19h00 às 22h40 |</p>


</fieldset>


	<ul class="botao">
  	<li><a href="index.html" target="">voltar a Home</a></li>
  	</ul>
</body>
</html>