< configuração >
  < sistema .webServer>
    
    <! - indica que o arquivo index.js é um aplicativo node.js 
    a ser manipulado pelo módulo iisnode ->
    
    < manipuladores >
      < add  name = " iisnode "  caminho = " index.html "  verbo = " * "  modules = " iisnode " />
    </ handlers >
    
    <! - adiciona index.js à lista de documentos padrão para permitir 
    URLs que especificam apenas a localização da raiz do aplicativo, 
    por exemplo , http://mysite.antarescloud.com/ ->
    
    < defaultDocument  enabled = " true " >
      < arquivos >
        < add  value = " index.html " />
      </ files >
    </ defaultDocument >
    
  </ system .webServer>
</ configuration >