body{

    background-color:black;
    background-image: url("../midia/vvcc.jpg");
    background-position:top;
    background-repeat: no-repeat;
}

#menu ul {
    padding:0px;
    margin:0px;
    background-color:rgb(122, 122, 126);
    list-style:none;
}

#menu ul li { display: inline; }
#menu ul li a {
    padding: 2px 10px;
    display: inline-block;
    background-color:rgb(122, 122, 126);
    color: white;
    text-decoration: none;
    border-bottom:3px solid white;
}
#menu ul li a:hover {
    background-color:rgb(45, 23, 243);
    color:rgb(150, 146, 146);
    border-bottom:3px solid rgb(26, 1, 167);
}
.img1{
	max-width:100%;
	height:auto;
}
.espaco{
    padding: 200px;
}
.it1 img{
    width: 300px; 
    height: 400px;
   }
.it2 {
    color: rgb(114, 179, 233);}

    .it3 {
    color: white;}

.botao1 {     
    font-family: verdana, arial, sans-serif; 
    font-size: 20pt; 
    font-weight: bold; 
    padding: -10px; 
    background-color: rgb(32, 32, 41); 
    color: white; 
    text-decoration: none;  
} 
    
.botao1:hover { 
    border-bottom: 2px solid white; 
    border-top: 3px solid rgb(89, 89, 100); 
    border-right: 2px solid white; 
    border-left: 3px solid rgb(89, 89, 100); 
} 
